<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todoappswg.mapper.TodoMapper">
    <select id="getAllTodos" resultType="com.example.todoappswg.model.Todo">
        SELECT * FROM todo
    </select>

    <select id="getTodoById" resultType="com.example.todoappswg.model.Todo">
        SELECT * FROM todo WHERE id = #{id}
    </select>

    <insert id="addTodo" parameterType="com.example.todoappswg.model.Todo">
        INSERT INTO todo (userId,title, status, details) VALUES (#{userId},#{title}, #{status}, #{details}) 
    </insert>

    <update id="updateTodo" parameterType="com.example.todoappswg.model.Todo">
        UPDATE todo SET userId=#{userId},title = #{title}, status = #{status}, details = #{details} WHERE id = #{id}
    </update>
    
    <update id="updateTodoNew" parameterType="map">
        UPDATE todo SET id=#{todo.id},userId=#{todo.userId},title = #{todo.title}, status = #{todo.status}, details = #{todo.details} WHERE id = #{id}
    </update>

    <delete id="deleteTodoById">
        DELETE FROM todo WHERE id = #{id}
    </delete>
</mapper>
